/* dont wead the souwce code pwease!!!! x_x is not vewy good fwends */

@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Patrick+Hand|Shadows+Into+Light|Special+Elite');

*{
	margin:0;
	padding:0;
}

body{
	background-image: linear-gradient(-130deg, pink , purple);
	background-attachment:fixed;
	font-family:"Comic Sans MS", "Patrick Hand";
	
}

.header{
	position:fixed;
	top:0px;
	right:0;
	padding:5px;
	border:none;
	background-image:url(header.gif);
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	min-height:6vh;
	width:100vw;
	text-align:center;
	z-index: 5;
}

.header h1 {
	font-family: "Special Elite";
	font-size:45px;
 	background: -webkit-linear-gradient(#ff66cc, #00ff99);
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
}

.header h1:hover {
	font-family: "Special Elite";
	font-size:45px;
 	background: -webkit-linear-gradient(#ff8000, #cc00ff);
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
}

/* dis above is so u can enlawge the titwes */

.sidebar{
	position:fixed;
	top:0px;
	right:0;
	padding:5px;
	background-image:url(kawaiiwallpaper.jpeg);
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	color:black;
	height:135vh;
	width:25vw;
	text-align:center;
	overflow-x:scroll;
	overflow-y:hidden;
}

.sidebar2{
	position:fixed;
	top:0px;
	left:0;
	padding:5px;
	background-image: linear-gradient(130deg, pink , purple);
	background-size: cover;
	background-attachment: scroll;
	background-position: left bottom;
	color:white;
	height:135vh;
	width:25vw;
	text-align:center;
	overflow-x:scroll;
	overflow-y:hidden;
}

.sidebarimage{
	width:30%;
	float:right;
	padding:1vh;
	margin:2vh 2vh 2vh 4vh;
	object-fit: contain;
	border:0.2em black solid;
	text-align:center;
	font-size:1.3vw;
	box-sizing: border-box;
}

/* OwO onii-chan you awe weading the souwcecode to my fwend bwog here O_o y awe u doing that fwend? X-X  */
/* OOH HEWWO FEWND!!! Yees you tawt me wewwy weww fwend, I suwe wowe cweating this mastapice togewew <3 */

.footer{
	width:50vw;
	text-align:center;
	object-position: center;
	font-family:Oswald;
	background-image: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0));
	padding:5px;
	box-sizing: border-box;
	margin:0 auto;
	font-size:2vw;
	z-index: 6;
	margin-top:6vh;
}

.footer p{
	background: -webkit-linear-gradient(#ff8000, #cc00ff);
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
	min-height:5vh;
	font-family: "Baloo Chettan";
}

.container{ /*dis is the top pwost on my bwog fwends */ /* 0w0 yes that one I wowe that one!!! */
	width:40vw;
	padding:20px;
	margin-right:auto;
	margin-left:auto;
	margin-top:20vh;
	background-color:magenta;
	text-align:right;
}

.container12{
	margin-top:0;
	background-color:#ff99dd;
}

.container11{
	margin-top:0;
	background-color:#99ddff;
}

.container10{
	margin-top:0;
	background-color:#ff99dd;
}

.container9{
	margin-top:0;
	background-color:#99ddff;
}

.container8{
	margin-top:0;
	background-color:#ff99dd;
}

.container7{
	margin-top:0;
	background-color:#99ddff;
}

.container6{
	margin-top:0;
	background-color:#ff99dd;
}

.container5{
	margin-top:0;
	background-color:#99ddff;
}

.container4{
	margin-top:0;
	background-color:#ff99dd;
}

.container h3{
	text-align:left;
}

.container2{
	margin-top:0;
	background-color:#ff99dd;
}

/* pwease comment "loli but not childwen" fow fwee candy UvU */
/* 0w0 oh noes you did'nt ლ(ಠ益ಠლ)!!!!!!!!!!! */

* h1:hover{
	font-size:40px;
	transition-duration:1s;
}

.container3{
	margin-top:0;
	background-color:#99ddff;
}
