*{
	margin:0;
	padding:0;
}

body{
	background-image: linear-gradient(-130deg, pink , purple);
	background-attachment:fixed;
	font-family:"Comic Sans MS";
	
}

.sidebar{
	position:fixed;
	top:0px;
	right:0;
	padding:5px;
	background-image:url(kawaiiwallpaper.jpeg);
	background-size: cover;
	background-attachment: scroll;
	background-position: left bottom;
	color:black;
	height:100vh;
	width:25vw;
	text-align:center;
}

.sidebar2{
	position:fixed;
	top:0px;
	left:0;
	padding:5px;
	background-image: linear-gradient(130deg, pink , purple);
	background-size: cover;
	background-attachment: scroll;
	background-position: left bottom;
	color:white;
	height:100vh;
	width:25vw;
	text-align:center;
}

.container{
	width:40vw;
	padding:20px;
	margin-right:auto;
	margin-left:auto;
	margin-top:12vh;
	background-color:magenta;
	text-align:right;
}

.container4{
	margin-top:0;
	background-color:pink;
}

.container h3{
	text-align:left;
}

.container2{
	margin-top:0;
	background-color:pink;
}

* h1:hover{
	font-family:"Comic Sans MS";
	font-size:40px;
	transition-duration:1s;
}

.container3{
	margin-top:0;
	background-color:#99ddff;
}
